In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('IPL_DATASET_NEW.csv')

C:\Users\Shrijeet Kumar\AppData\Local\Temp\ipykernel_12344\1858831975.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('IPL_DATASET_NEW.csv')

In [3]:
df

,match_id,season,innings,ball,batting_team,bowling_team,batsman_point,bowler_point,result,venue_point
0,1370353,2023,1,0.1,Gujarat Titans,Chennai Super Kings,1.311388,0.046250,0,1.360836
1,1370353,2023,1,0.2,Gujarat Titans,Chennai Super Kings,1.311388,0.046250,0,1.360836
2,1370353,2023,1,0.3,Gujarat Titans,Chennai Super Kings,1.311388,0.046250,1,1.360836
3,1370353,2023,1,0.4,Gujarat Titans,Chennai Super Kings,1.351895,0.046250,1,1.360836
4,1370353,2023,1,0.5,Gujarat Titans,Chennai Super Kings,1.311388,0.046250,1,1.360836
...,...,...,...,...,...,...,...,...,...,...
158526,335982,2007/08,2,14.5,Royal Challengers Bangalore,Kolkata Knight Riders,1.123839,0.037383,1,1.307507
158527,335982,2007/08,2,14.6,Royal Challengers Bangalore,Kolkata Knight Riders,0.500000,0.037383,1,1.307507
158528,335982,2007/08,2,14.7,Royal Challengers Bangalore,Kolkata Knight Riders,1.123839,0.037383,0,1.307507
158529,335982,2007/08,2,15.1,Royal Challengers Bangalore,Kolkata Knight Riders,0.500000,0.052147,1,1.307507
158530,335982,2007/08,2,15.2,Royal Challengers Bangalore,Kolkata Knight Riders,0.500000,0.052147,-1,1.307507

In [4]:
import pandas as pd

# Create a new column 'Total_runs_scored' and initialize it with 0
df['Total_runs_scored'] = 0

# Group the dataframe by 'match_id' and 'innings'
grouped_data = df.groupby(['match_id', 'innings'])

# Iterate over each group
for name, group in grouped_data:
    # Calculate total runs scored for this group
    total_runs = group.loc[group['result'] != -1, 'result'].sum()
    # Update the 'Total_runs_scored' column for this group
    df.loc[(df['match_id'] == name[0]) & (df['innings'] == name[1]), 'Total_runs_scored'] = total_runs

# Now cricket_data dataframe will have the 'Total_runs_scored' for each innings of each match_id

In [5]:
df.head()

,match_id,season,innings,ball,batting_team,bowling_team,batsman_point,bowler_point,result,venue_point,Total_runs_scored
0,1370353,2023,1,0.1,Gujarat Titans,Chennai Super Kings,1.311388,0.04625,0,1.360836,214
1,1370353,2023,1,0.2,Gujarat Titans,Chennai Super Kings,1.311388,0.04625,0,1.360836,214
2,1370353,2023,1,0.3,Gujarat Titans,Chennai Super Kings,1.311388,0.04625,1,1.360836,214
3,1370353,2023,1,0.4,Gujarat Titans,Chennai Super Kings,1.351895,0.04625,1,1.360836,214
4,1370353,2023,1,0.5,Gujarat Titans,Chennai Super Kings,1.311388,0.04625,1,1.360836,214

In [6]:
# Converting categorical features using OneHotEncoding method
dfn = pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])
dfn.columns

Index(['match_id', 'season', 'innings', 'ball', 'batsman_point',
       'bowler_point', 'result', 'venue_point', 'Total_runs_scored',
       'batting_team_Chennai Super Kings', 'batting_team_Delhi Capitals',
       'batting_team_Gujarat Titans', 'batting_team_Kings XI Punjab',
       'batting_team_Kolkata Knight Riders',
       'batting_team_Lucknow Super Giants', 'batting_team_Mumbai Indians',
       'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bangalore',
       'batting_team_Sunrisers Hyderabad', 'bowling_team_Chennai Super Kings',
       'bowling_team_Delhi Capitals', 'bowling_team_Gujarat Titans',
       'bowling_team_Kings XI Punjab', 'bowling_team_Kolkata Knight Riders',
       'bowling_team_Lucknow Super Giants', 'bowling_team_Mumbai Indians',
       'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bangalore',
       'bowling_team_Sunrisers Hyderabad'],
      dtype='object')

In [7]:
dfn

,match_id,season,innings,ball,batsman_point,bowler_point,result,venue_point,Total_runs_scored,batting_team_Chennai Super Kings,...,bowling_team_Chennai Super Kings,bowling_team_Delhi Capitals,bowling_team_Gujarat Titans,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad
0,1370353,2023,1,0.1,1.311388,0.046250,0,1.360836,214,False,...,True,False,False,False,False,False,False,False,False,False
1,1370353,2023,1,0.2,1.311388,0.046250,0,1.360836,214,False,...,True,False,False,False,False,False,False,False,False,False
2,1370353,2023,1,0.3,1.311388,0.046250,1,1.360836,214,False,...,True,False,False,False,False,False,False,False,False,False
3,1370353,2023,1,0.4,1.351895,0.046250,1,1.360836,214,False,...,True,False,False,False,False,False,False,False,False,False
4,1370353,2023,1,0.5,1.311388,0.046250,1,1.360836,214,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158526,335982,2007/08,2,14.5,1.123839,0.037383,1,1.307507,81,False,...,False,False,False,False,True,False,False,False,False,False
158527,335982,2007/08,2,14.6,0.500000,0.037383,1,1.307507,81,False,...,False,False,False,False,True,False,False,False,False,False
158528,335982,2007/08,2,14.7,1.123839,0.037383,0,1.307507,81,False,...,False,False,False,False,True,False,False,False,False,False
158529,335982,2007/08,2,15.1,0.500000,0.052147,1,1.307507,81,False,...,False,False,False,False,True,False,False,False,False,False
158530,335982,2007/08,2,15.2,0.500000,0.052147,-1,1.307507,81,False,...,False,False,False,False,True,False,False,False,False,False

In [8]:
for column in dfn.columns :
    if(dfn[column].dtype == bool) :
        dfn[column]= dfn[column].astype(int)

In [9]:
dfn

,match_id,season,innings,ball,batsman_point,bowler_point,result,venue_point,Total_runs_scored,batting_team_Chennai Super Kings,...,bowling_team_Chennai Super Kings,bowling_team_Delhi Capitals,bowling_team_Gujarat Titans,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad
0,1370353,2023,1,0.1,1.311388,0.046250,0,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
1,1370353,2023,1,0.2,1.311388,0.046250,0,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
2,1370353,2023,1,0.3,1.311388,0.046250,1,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
3,1370353,2023,1,0.4,1.351895,0.046250,1,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
4,1370353,2023,1,0.5,1.311388,0.046250,1,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158526,335982,2007/08,2,14.5,1.123839,0.037383,1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158527,335982,2007/08,2,14.6,0.500000,0.037383,1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158528,335982,2007/08,2,14.7,1.123839,0.037383,0,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158529,335982,2007/08,2,15.1,0.500000,0.052147,1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158530,335982,2007/08,2,15.2,0.500000,0.052147,-1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
dfn

,match_id,season,innings,ball,batsman_point,bowler_point,result,venue_point,Total_runs_scored,batting_team_Chennai Super Kings,...,bowling_team_Chennai Super Kings,bowling_team_Delhi Capitals,bowling_team_Gujarat Titans,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad
0,1370353,2023,1,0.1,1.311388,0.046250,0,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
1,1370353,2023,1,0.2,1.311388,0.046250,0,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
2,1370353,2023,1,0.3,1.311388,0.046250,1,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
3,1370353,2023,1,0.4,1.351895,0.046250,1,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
4,1370353,2023,1,0.5,1.311388,0.046250,1,1.360836,214,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158526,335982,2007/08,2,14.5,1.123839,0.037383,1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158527,335982,2007/08,2,14.6,0.500000,0.037383,1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158528,335982,2007/08,2,14.7,1.123839,0.037383,0,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158529,335982,2007/08,2,15.1,0.500000,0.052147,1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0
158530,335982,2007/08,2,15.2,0.500000,0.052147,-1,1.307507,81,0,...,0,0,0,0,1,0,0,0,0,0

In [11]:
import pandas as pd

# Assuming your dataframe is named 'cricket_data'

# Create a new column 'Cumulative_total_runs' and initialize it with 0
dfn['Cumulative_total_runs'] = 0

# Group the dataframe by 'match_id' and 'innings'
grouped_data = dfn.groupby(['match_id', 'innings'])

# Iterate over each group
for name, group in grouped_data:
    # Initialize cumulative total runs for this group
    cumulative_total_runs = 0
    # Iterate over each row in the group
    for index, row in group.iterrows():
        # If the result is not -1 (indicating not out), add the runs to cumulative total runs
        if row['result'] != -1:
            cumulative_total_runs += row['result']
        # Update the 'Cumulative_total_runs' column for this row
        dfn.at[index, 'Cumulative_total_runs'] = cumulative_total_runs

# Now cricket_data dataframe will have the 'Cumulative_total_runs' for each innings of each match_id

In [12]:
dfn

,match_id,season,innings,ball,batsman_point,bowler_point,result,venue_point,Total_runs_scored,batting_team_Chennai Super Kings,...,bowling_team_Delhi Capitals,bowling_team_Gujarat Titans,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,Cumulative_total_runs
0,1370353,2023,1,0.1,1.311388,0.046250,0,1.360836,214,0,...,0,0,0,0,0,0,0,0,0,0
1,1370353,2023,1,0.2,1.311388,0.046250,0,1.360836,214,0,...,0,0,0,0,0,0,0,0,0,0
2,1370353,2023,1,0.3,1.311388,0.046250,1,1.360836,214,0,...,0,0,0,0,0,0,0,0,0,1
3,1370353,2023,1,0.4,1.351895,0.046250,1,1.360836,214,0,...,0,0,0,0,0,0,0,0,0,2
4,1370353,2023,1,0.5,1.311388,0.046250,1,1.360836,214,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158526,335982,2007/08,2,14.5,1.123839,0.037383,1,1.307507,81,0,...,0,0,0,1,0,0,0,0,0,79
158527,335982,2007/08,2,14.6,0.500000,0.037383,1,1.307507,81,0,...,0,0,0,1,0,0,0,0,0,80
158528,335982,2007/08,2,14.7,1.123839,0.037383,0,1.307507,81,0,...,0,0,0,1,0,0,0,0,0,80
158529,335982,2007/08,2,15.1,0.500000,0.052147,1,1.307507,81,0,...,0,0,0,1,0,0,0,0,0,81
158530,335982,2007/08,2,15.2,0.500000,0.052147,-1,1.307507,81,0,...,0,0,0,1,0,0,0,0,0,81

In [13]:
import pandas as pd

# Assuming your dataframe is named 'cricket_data'

# Create a new column 'Wickets_fallen' and initialize it with 0
dfn['Wickets_fallen'] = 0

# Group the dataframe by 'match_id' and 'innings'
grouped_data = dfn.groupby(['match_id', 'innings'])

# Iterate over each group
for name, group in grouped_data:
    # Initialize wickets fallen for this group
    wickets_fallen = 0
    # Iterate over each row in the group
    for index, row in group.iterrows():
        # If the result is -1 (indicating out), increment the wickets_fallen count
        if row['result'] == -1:
            wickets_fallen += 1
        # Update the 'Wickets_fallen' column for this row
        dfn.at[index, 'Wickets_fallen'] = wickets_fallen

# Now cricket_data dataframe will have the 'Wickets_fallen' for each innings of each match_id

In [14]:
dfn = dfn[['match_id','season','innings', 'ball', 'batsman_point', 'bowler_point',
       'venue_point', 'batting_team_Chennai Super Kings',
       'batting_team_Delhi Capitals', 'batting_team_Gujarat Titans',
       'batting_team_Kings XI Punjab', 'batting_team_Kolkata Knight Riders',
       'batting_team_Lucknow Super Giants', 'batting_team_Mumbai Indians',
       'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bangalore',
       'batting_team_Sunrisers Hyderabad', 'bowling_team_Chennai Super Kings',
       'bowling_team_Delhi Capitals', 'bowling_team_Gujarat Titans',
       'bowling_team_Kings XI Punjab', 'bowling_team_Kolkata Knight Riders',
       'bowling_team_Lucknow Super Giants', 'bowling_team_Mumbai Indians',
       'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bangalore',
       'bowling_team_Sunrisers Hyderabad','result' , 'Cumulative_total_runs' ,	'Wickets_fallen', 'Total_runs_scored']]

In [15]:
dfn

,match_id,season,innings,ball,batsman_point,bowler_point,venue_point,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Gujarat Titans,...,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,result,Cumulative_total_runs,Wickets_fallen,Total_runs_scored
0,1370353,2023,1,0.1,1.311388,0.046250,1.360836,0,0,1,...,0,0,0,0,0,0,0,0,0,214
1,1370353,2023,1,0.2,1.311388,0.046250,1.360836,0,0,1,...,0,0,0,0,0,0,0,0,0,214
2,1370353,2023,1,0.3,1.311388,0.046250,1.360836,0,0,1,...,0,0,0,0,0,0,1,1,0,214
3,1370353,2023,1,0.4,1.351895,0.046250,1.360836,0,0,1,...,0,0,0,0,0,0,1,2,0,214
4,1370353,2023,1,0.5,1.311388,0.046250,1.360836,0,0,1,...,0,0,0,0,0,0,1,3,0,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158526,335982,2007/08,2,14.5,1.123839,0.037383,1.307507,0,0,0,...,1,0,0,0,0,0,1,79,9,81
158527,335982,2007/08,2,14.6,0.500000,0.037383,1.307507,0,0,0,...,1,0,0,0,0,0,1,80,9,81
158528,335982,2007/08,2,14.7,1.123839,0.037383,1.307507,0,0,0,...,1,0,0,0,0,0,0,80,9,81
158529,335982,2007/08,2,15.1,0.500000,0.052147,1.307507,0,0,0,...,1,0,0,0,0,0,1,81,9,81
158530,335982,2007/08,2,15.2,0.500000,0.052147,1.307507,0,0,0,...,1,0,0,0,0,0,-1,81,10,81

In [16]:
dfn=dfn.drop('match_id' , axis=1)

In [17]:
# Splitting the data into train and test set
X_train = dfn[~dfn['season'].isin(['2022', '2023'])].drop(labels='Total_runs_scored', axis=1)
y_train = dfn[~dfn['season'].isin(['2022', '2023'])]['Total_runs_scored']

X_test = dfn[dfn['season'].isin(['2022', '2023'])].drop(labels='Total_runs_scored', axis=1)
y_test = dfn[dfn['season'].isin(['2022', '2023'])]['Total_runs_scored']

In [18]:
X_train

,season,innings,ball,batsman_point,bowler_point,venue_point,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Gujarat Titans,batting_team_Kings XI Punjab,...,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,result,Cumulative_total_runs,Wickets_fallen
28979,2021,1,0.1,1.380531,0.046865,1.236976,1,0,0,0,...,0,1,0,0,0,0,0,1,1,0
28980,2021,1,0.2,1.357392,0.046865,1.236976,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
28981,2021,1,0.3,1.357392,0.046865,1.236976,1,0,0,0,...,0,1,0,0,0,0,0,1,2,0
28982,2021,1,0.4,1.380531,0.046865,1.236976,1,0,0,0,...,0,1,0,0,0,0,0,4,6,0
28983,2021,1,0.5,1.380531,0.046865,1.236976,1,0,0,0,...,0,1,0,0,0,0,0,0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158526,2007/08,2,14.5,1.123839,0.037383,1.307507,0,0,0,0,...,0,1,0,0,0,0,0,1,79,9
158527,2007/08,2,14.6,0.500000,0.037383,1.307507,0,0,0,0,...,0,1,0,0,0,0,0,1,80,9
158528,2007/08,2,14.7,1.123839,0.037383,1.307507,0,0,0,0,...,0,1,0,0,0,0,0,0,80,9
158529,2007/08,2,15.1,0.500000,0.052147,1.307507,0,0,0,0,...,0,1,0,0,0,0,0,1,81,9
158530,2007/08,2,15.2,0.500000,0.052147,1.307507,0,0,0,0,...,0,1,0,0,0,0,0,-1,81,10

In [19]:
X_test

,season,innings,ball,batsman_point,bowler_point,venue_point,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Gujarat Titans,batting_team_Kings XI Punjab,...,bowling_team_Kings XI Punjab,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,result,Cumulative_total_runs,Wickets_fallen
0,2023,1,0.1,1.311388,0.046250,1.360836,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2023,1,0.2,1.311388,0.046250,1.360836,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2023,1,0.3,1.311388,0.046250,1.360836,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
3,2023,1,0.4,1.351895,0.046250,1.360836,0,0,1,0,...,0,0,0,0,0,0,0,1,2,0
4,2023,1,0.5,1.311388,0.046250,1.360836,0,0,1,0,...,0,0,0,0,0,0,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28974,2022,2,17.5,1.263617,0.062803,1.364149,0,0,0,0,...,0,0,0,0,0,0,0,1,125,4
28975,2022,2,17.6,1.070175,0.062803,1.364149,0,0,0,0,...,0,0,0,0,0,0,0,1,126,4
28976,2022,2,18.1,1.070175,0.041475,1.364149,0,0,0,0,...,0,0,0,0,0,0,0,1,127,4
28977,2022,2,18.2,1.263617,0.041475,1.364149,0,0,0,0,...,0,0,0,0,0,0,0,2,129,4
28978,2022,2,18.3,1.263617,0.041475,1.364149,0,0,0,0,...,0,0,0,0,0,0,0,4,133,4

In [20]:
y_train

28979     192
28980     192
28981     192
28982     192
28983     192
         ...
158526     81
158527     81
158528     81
158529     81
158530     81
Name: Total_runs_scored, Length: 129552, dtype: int64

In [21]:
y_test

0        214
1        214
2        214
3        214
4        214
        ...
28974    133
28975    133
28976    133
28977    133
28978    133
Name: Total_runs_scored, Length: 28979, dtype: int64

In [22]:
X_train = X_train.drop('season' , axis=1)
X_test = X_test.drop('season' , axis=1)

<h2>Model Training</h2>

In [23]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
# # Define the neural network model
# import keras
# import tensorflow as tf
# from sklearn import preprocessing
# import matplotlib.pyplot as plt
# model = keras.Sequential([
#     keras.layers.Input( shape=(X_train_scaled.shape[1],)),  # Input layer
#     keras.layers.Dense(512, activation='relu'),  # Hidden layer with 512 units and ReLU activation
#     keras.layers.Dense(216, activation='relu'),  # Hidden layer with 216 units and ReLU activation
#     keras.layers.Dense(1, activation='linear')  # Output layer with linear activation for regression
# ])
 
# # Compile the model with Huber loss
# huber_loss = tf.keras.losses.Huber(delta=1.0)  # You can adjust the 'delta' parameter as needed
# model.compile(optimizer='adam', loss=huber_loss)  # Use Huber loss for regression

In [25]:
# Train the model
# model.fit(X_train_scaled, y_train, epochs=50, batch_size=64, validation_data=(X_test_scaled, y_test))

In [26]:
# model_losses = pd.DataFrame(model.history.history)
# model_losses.plot()

In [27]:
# # Make predictions
# predictions = model.predict(X_test_scaled)
 
# from sklearn.metrics import mean_absolute_error,mean_squared_error
# mean_absolute_error(y_test,predictions)

<h2>Using ML algorithms</h2>

In [29]:
# classfier=RandomForestClassifier()

In [ ]:
# ## Hypeparameter Tuning
# params={'max_depth':[3,5,10,None],
#               'n_estimators':[100,200,300],
#                'criterion':['gini','entropy']
#               }

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV

In [30]:
# Linear Regression Model
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()
linear_regressor.fit(X_train,y_train)

LinearRegression()

In [31]:
# Predicting results
y_pred_lr = linear_regressor.predict(X_test)

In [32]:
# Linear Regression - Model Evaluation
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse, accuracy_score
print("---- Linear Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(y_test, y_pred_lr)))
print("Mean Squared Error (MSE): {}".format(mse(y_test, y_pred_lr)))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(y_test, y_pred_lr))))

---- Linear Regression - Model Evaluation ----
Mean Absolute Error (MAE): 16.609192622220743
Mean Squared Error (MSE): 481.8722800489786
Root Mean Squared Error (RMSE): 21.95158946520681

In [33]:

# Decision Tree Regression Model
from sklearn.tree import DecisionTreeRegressor
decision_regressor = DecisionTreeRegressor()
decision_regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [35]:
# Predicting results
y_pred_dt = decision_regressor.predict(X_test)

In [36]:

# Decision Tree Regression - Model Evaluation
print("---- Decision Tree Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(y_test, y_pred_dt)))
print("Mean Squared Error (MSE): {}".format(mse(y_test, y_pred_dt)))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(y_test, y_pred_dt))))

---- Decision Tree Regression - Model Evaluation ----
Mean Absolute Error (MAE): 24.538458884019462
Mean Squared Error (MSE): 1125.805169260499
Root Mean Squared Error (RMSE): 33.55302027031991

In [37]:
# Random Forest Regression Model
from sklearn.ensemble import RandomForestRegressor
random_regressor = RandomForestRegressor()
random_regressor.fit(X_train,y_train)

RandomForestRegressor()

In [38]:
# Predicting results
y_pred_rf = random_regressor.predict(X_test)

In [39]:
# Random Forest Regression - Model Evaluation
print("---- Random Forest Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(y_test, y_pred_rf)))
print("Mean Squared Error (MSE): {}".format(mse(y_test, y_pred_rf)))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(y_test, y_pred_rf))))

---- Random Forest Regression - Model Evaluation ----
Mean Absolute Error (MAE): 18.566840327725
Mean Squared Error (MSE): 669.3161415067798
Root Mean Squared Error (RMSE): 25.8711449593322

In [40]:
# AdaBoost Model using Linear Regression as the base learner
from sklearn.ensemble import AdaBoostRegressor
adb_regressor = AdaBoostRegressor(base_estimator=linear_regressor, n_estimators=100)
adb_regressor.fit(X_train, y_train)

c:\users\shrijeet kumar\appdata\local\programs\python\python38\lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

AdaBoostRegressor(base_estimator=LinearRegression(), n_estimators=100)

In [41]:
# Predicting results
y_pred_adb = adb_regressor.predict(X_test)

In [42]:
# AdaBoost Regression - Model Evaluation
print("---- AdaBoost Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(y_test, y_pred_adb)))
print("Mean Squared Error (MSE): {}".format(mse(y_test, y_pred_adb)))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(y_test, y_pred_adb))))

---- AdaBoost Regression - Model Evaluation ----
Mean Absolute Error (MAE): 19.404101827377684
Mean Squared Error (MSE): 608.1226809484866
Root Mean Squared Error (RMSE): 24.660143571124777